<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>withUto</title>
    <link rel="stylesheet" href="static/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
    <header>
        <div class="lowerRight"></div>
        <div class="verticalLine"></div>
        <h1 class="topTitle">Uto</h1>
    </header>
    <main>
        <div class="catchcopy">
            <div>
                <h1>自分作りと、<br>価値作り</h1>
                <h2>Make you, and Value.</h2>
            </div>
        </div>
        <div class="goal">
            <div>
                <h2>2/19までの目標</h2>
                <h3>•••会社を会社として申請する日</h3>
                <h3>商品サービスを作る</h3>
                <h3>サービスを思い付く</h3>
                <ul>
                    <li><p>サービスを思いつけるほどの技術力が必要</p></li>
                    <li><p>自分ができる範囲とできるようになれる範囲を知る</p></li>
                </ul>
            </div>
        </div>
        <div class="summerGoal">
            <div>
                <h2>夏休み中の目標</h2>
                <h3>勉強会終了</h3>
                <h3>プログラミングで何か作る</h3>
                <h3>要項</h3>
                <ul>
                    <li><p>数字をイジるだけではダメ。</p></li>
                    <li><p>YouTubeなどで勉強したある程度の技術を用いる。</p></li>
                    <li><p>人と同じものではない。</p></li>
                    <li><p>withUtoを続ける人は、自分のGithubを作り、そこにアップロードする</p></li>
                    <li><p>withUtoを続けない人は、解散。</p></li>
                    <li><p>夏休みの終わりを10/6と定義する。</p></li>
                </ul>
            </div>
        </div>
        <div class="inYearGoal">
            <div>
                <h2>年中の目標</h2>
                <h4>それぞれが自分の得意分野を確立</h4>
            </div>
        </div>
    </main>
    <footer></footer>
    <script src="static/js/script.js"></script>
</body>
</html>