*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer{
    z-index: 2;
    position:fixed;
    bottom: 6vw;
    div{
        float: left;
        height: 19vw;
        width: 19vw;
        margin: 0 3vw;
        padding: 2vw;
        background-color: white;
        border-radius:5px;
        box-shadow: 1px 1px 1px 1px black;
        img{
            height: 15vw;
        }
    }
}